*{
    margin: 0;
    padding: 0;
}
label{
    
font-family: Copperplate;
font-size: 18px;
font-style: italic;
}
body{
    background: url("https://cdn.wallpapersafari.com/97/6/ywQxql.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: Copperplate;
}
div.survey{
   background-color: rgba(0,0,0,0.5);
   font-size: 14px;
   border-radius: 15px;
   border: 1px solid rgba(255,255,255,0.3);
   box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
   color: #fff;
}
form#survey{
    margin: 30px;
}
input#PD,input#address{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: rgba(250,100,0,0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
label,span,h2{
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
legend{
    padding: 5px 10px;
    margin: 15px;
    font-size:large;
}
fieldset{
    padding: 5px 10px;
    
}
